@font-face {
  font-family: joystick;
  src: url(../../fonts/joystix.ttf);
}

  
  .shade {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .modal {
    font-family: joystick;
    font-size: 20px;
    position: absolute;
    width: 500px;
    background: #1e3766;
    border-radius: 10px;
    top: 100px;
  }

  .modal li{
    margin-top: 10px;
  }

  .modal ul{
    list-style-type: none;
    padding: 0px;
  }

  .closeButton {
    margin-top: 40px !important; 
}