@font-face {
    font-family: joystick;
    src: url(../../fonts/joystix.ttf);
  }

.cards{
    top: 20px;
}

.cards > div{
    display: inline-flex;
}

.winner{
    font-family: joystick;
    color: #ffe10e;
    margin-top: 35px;
    margin-left: 30px;
}


.modeSelector{
    display: flex;
    flex-direction: row;
}

.modeSelector div{
    margin: 10px;
}

.keyboard {
    position: absolute;
    left: 28%;
    bottom: 10%;
}

.keyboard button{
    width: 50px;
    font-family: joystick;
    border-radius: 30px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.refreshButton{
    font-family: joystick;
    border-radius: 30px;
    font-size: 20px;
    padding: 10px;
    left: 45%;
    bottom: 10%;
    position: absolute;
}



.animation {
    background-blend-mode: darken;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;

}
  