@font-face {
    font-family: joystick;
    src: url(../../fonts/joystix.ttf);
  }

.card {
    width: 1300px;
    height: 50px;
    background: #435a86;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.55);
    margin-top: 100px;
    position: relative;
    display: table;
    outline-style: dotted;
    align-items: center;
}

.card img{
    height: 140%;
    position: relative;
    top:5%

}
.card td{
    font-family: joystick;
    width: 100px;
    height: 60px;
    background: #25385c;
    display: table-cell;
    align-items: center;
    justify-content: center;
}

.playerInfo{
    font-family: joystick;
    width: 100px;
    height: 60px;
    display: table-cell;
    align-items: center;
    justify-content: center;
    border-width: 0px !important;
    background: #435a86 !important;
}

.total{
    font-size: 20px;
    padding: 0px 10px 0px 10px;
    font-family: joystick;
    width: 100px;
    height: 60px;
    display: table-cell;
    border-width: 0px !important;
    background: #435a86 !important;
}