@font-face {
    font-family: joystick;
    src: url(../../fonts/joystix.ttf);
  }

.boxMode {
    font-family: joystick;
    font-size: 20px;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.boxMode img{
    width:  100%
}

.boxScores {
    font-family: joystick;
    width: 452px;
    height: 50px;
    margin-left: 20px;
    margin-top: 200px;
}